:root {
    --primary-geel: #ffe400;
    --primary-blauw: blue;
    --bg-kleur: #FFFECA;
    --tekst-kleur: #222222;
    --column-normal: 2/24;
    --margin: 10px;
    --padding-side: 10rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--tekst-kleur);
}

@font-face {
    font-display: swap;
    font-family: RegularFont;
    font-style: normal;
    font-weight: 400;
    src: url(../assets/Regular.woff2);
}

@font-face {
    font-display: swap;
    font-family: BoldFont;
    font-style: normal;
    font-weight: 700;
    src: url(../assets/Bold.woff2);
}

/* Navigatiebalk */

nav {
    display: block;
    position: sticky;
    border: 0;
    text-decoration: none;
    background-color: var(--bg-kleur);
}

.navigatie-header {
    width: 100%;
    z-index: 2;
    position: sticky;
    border-bottom: 1px solid rgba(0, 0, 255, .3);
}

.navigatie {
    height: 4.0625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--padding-side);
    padding-right: var(--padding-side);
    grid-column: var(--column-normal);
}

.logo {
    height: 2.125rem;
    width: auto;
    outline: none;
    cursor: pointer;
}

/* Header */

.header {
    background-color: var(--bg-kleur);
    padding-top: 10px;
    padding-bottom: 10px;
}

header {
    padding: 2rem 0 2rem var(--padding-side);
}

.header-content span {
    font-size: 30px;
    font-family: RegularFont;
    color: var(--primary-blauw);
}

.header-content h1 {
    font-size: 50px;
    font-family: BoldFont;
    line-height: 60px;
    color: var(--primary-blauw);
}

.navigatie .headSearch {
    background: transparent;
    border: 2px solid blue;
    padding: 10px;
    width: 20em;
}

/* Main */

main {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 75px var(--padding-side) 75px var(--padding-side);
}

/* Searchbar */

.searchbar {
    padding-bottom: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar label {
    display: block;
    margin-bottom: 5px;
    color: var(--primary-blauw);
    font-family: RegularFont;
}

.sort {
    font-family: RegularFont;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    width: 100%;
    font-size: 16px;
}

.searchbar form {
    color: #555;
    display: flex;
    width: 40vw;
    min-width: 294px;
    border: 1px solid var(--primary-blauw);
    border-radius: 5px;
}

.author-filter h3 {
    font-family: BoldFont;
    font-size: 18px;
    margin: 10px 0;
}

.searchbar input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 10px;
    font-size: 14px;
    width: 100%;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
}

input[type="search"]::placeholder {
    color: #bbb;
}

.searchbar button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 5px 0;
    border: none;
    border-left: 1px solid var(--primary-blauw);
    background: transparent url("./assets/Search.svg") no-repeat center;
    cursor: pointer;
    opacity: 0.9;
}

.searchbar button[type="submit"]:hover {
    opacity: 1;
}

.searchbar button[type="submit"]:focus,
.searchbar input[type="search"]:focus, .searchbar input[type="checkbox"]:focus {
    outline: none;
    background: transparent;
}

input[type=checkbox] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 1;
    height: 100%;
    aspect-ratio: 1/1;
    /* opacity: 0; */
    border-radius: 5px;
    cursor: pointer;
  }

  .container {
    display: block;
    font-size: 16px;
    font-family: RegularFont;
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    user-select: none;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 5px;
    border: 1px solid var(--primary-blauw);
    transition: .3s;
  }

  .container input:checked ~ .checkmark {
    transition: .3s;
    background-color: var(--primary-blauw);
  }

  .date-filter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-direction: row;
  }

  .date-filter div {
    display: flex;
    width: auto;
    flex-direction: column;
  }

  .date-filter label {
    font-family: RegularFont;
    margin-bottom: 5px;
    color: rgba(34, 34, 34, 0.7);
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    width: 15px;
    padding: 5px;
    margin: 0px;
    background: url("../assets/Agenda.svg") no-repeat;
    cursor: pointer;
}    

input[type="date"] {
    padding: 5px;
    flex-direction: row-reverse;
    justify-content: space-between;
    font-family: RegularFont;
    border: 1px solid var(--primary-blauw);
    border-radius: 5px;
}

input[type="date"]:focus {
    outline: var(--primary-blauw);
}

.date-filter [type="date"]:last-child {
    margin-right: 10px;
}

/* Blog */

.blogs {
    width: 100%;
    display: grid;
    grid-template-columns: .6fr 2.4fr;
    gap: 35px;
    list-style-type: none;
}

.blogs ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
    list-style-type: none;
    width: 100%;
}

h2 {
    font-size: 23px;
    color: var(--primary-blauw);
    font-family: BoldFont;
}

.blogs p {
    font-size: 18px;
    margin: 5px 0 5px 0;
}

.blogs li {
    width: 100%;
    /* background-color: lightblue; */
    border-radius: 3px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.blogs a {
    text-decoration: none;
    color: var(--primary-blauw);
    font-family: BoldFont;
}

.blogs p,
.blogs span,
time {
    font-family: RegularFont;
}

.blogs article {
    padding: 20px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.author {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 5px;
}

.author div {
    display: flex;
    align-items: center;
}

.author-image {
    width: 2em;
    object-fit: cover;
    object-position: top;
    aspect-ratio: 1/1;
    max-width: 100px;
    margin-left: 3px;
}

.author-name,
.by {
    margin-left: 3px;
}

.blogs div .author-name::after {
    content: ",";
}

.blogs div .author-name:last-child::after {
    content: "";
}

time {
    margin-top: 3px;
}

/* Footer */

footer {
    padding: 55px 0;
    text-align: center;
    background-color: var(--bg-kleur);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer>* {
    margin: var(--margin) 20px var(--margin) 20px;
}

footer span {
    font-size: 33px;
    font-family: BoldFont;
    color: var(--primary-blauw);
}

footer p {
    font-size: 25px;
    font-family: RegularFont;
    max-width: 1000px;

}

.btn {
    border-radius: 3px;
    text-decoration: none;
    padding: .6rem 1.7rem .6rem;
    position: relative;
    cursor: pointer;
    color: white;
    font-family: BoldFont;
    font-size: 16px;
    background-color: var(--primary-blauw);
}

/* Responsive */


@media screen and (max-width: 1300px) {
    :root {
        --padding-side: 3rem;
    }

    .blogs ul {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 975px) {
    .blogs {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 750px) {
    :root {
        --padding-side: 2rem;
    }

    footer p {
        font-size: 19px;
    }

    footer span {
        font-size: 27px;
    }
}

@media screen and (max-width: 400px) {
    .blogs article {
        padding: 10px;
    }

    .blogs ul {
        gap: 15px;
    }

    a h2 {
        font-size: 20px;
    }

    .blogs p, .author time, .author span {
        font-size: 15px;
    }

    :root {
        --padding-side: 1rem;
    }
}